[webservers]
%{ for vm in webservers ~}
${vm.name} ansible_host=${vm.network_interface[0].nat_ip_address} fqdn=${vm.fqdn}
%{ endfor ~}

[databases]
%{ for vm in databases ~}
${vm.name} ansible_host=${vm.network_interface[0].nat_ip_address} fqdn=${vm.fqdn}
%{ endfor ~}

[storage]
${storage.name} ansible_host=${storage.network_interface[0].nat_ip_address} fqdn=${storage.fqdn}
